# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TheseusShip.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Micro\Documents\Git\TheseusShip\.idea\.idea.TheseusShip\.idea/dataSources/
/dataSources.local.xml
